#bjrconnect{
    padding-right: 1%;
}

body{
    background-color: #F9F9F9;
    min-height:100vh;
  	display:flex;
  	flex-direction:column;
}

footer {
	margin-top:auto;
}

.article{
    margin-bottom: 5%;
}

.formucontact{
    padding-top: 5%;
    padding-bottom: 5%;
}